MAX_TOKEN=
MAX_WEBHOOK_SECRET=
MAX_API_BASE_URL=https://botapi.max.ru

YANDEX_API_KEY=
YANDEX_FOLDER_ID=
YANDEX_GPT_MODEL_URI=gpt://<folder-id>/yandexgpt/latest
YA_RAG_INDEX_ID=

RAG_TOP_K=5
RAG_MIN_SCORE=0.3
REQUEST_TIMEOUT_SECONDS=30
